n-l {
    line-height: 50px;
    padding: 15px;
    
}
.navbar {
  border-bottom: 1px solid #ccc;
}

.navbar-nav .nav-item {
  margin-right: 20px;
}

.nav-link {
  font-weight: 500;
  font-family: Verdana;
  color: white !important;
}

.custom-toggler-icon {
  display: inline-block;
  position: relative;
  width: 24px;
}

.custom-toggler-icon div {
  position: absolute;
  height: 2px;
  width: 100%;
  background-color: #1170ab;
  transition: all 0.3s ease;
  left: 0;
}

.line1 { top: 0; }
.line2 { top: 4px; }
.line3 { top: 7px; }

.navbar-toggler.collapsed .line1 {
  transform: rotate(0deg);
  top: 0;
}

.navbar-toggler.collapsed .line2 {
  opacity: 1;
  top: 7px;
}

.navbar-toggler.collapsed .line3 {
  transform: rotate(0deg);
  top: 14px;
}

.navbar-toggler:not(.collapsed) .line1 {
  transform: rotate(45deg);
  top: 7px;
}

.navbar-toggler:not(.collapsed) .line2 {
  opacity: 0;
}

.navbar-toggler:not(.collapsed) .line3 {
  transform: rotate(-45deg);
  top: 7px;
}

.navbar-collapse {
  background-color: #1d2738;
}

.navbar-toggler {
border: none !important;
box-shadow: none !important;
outline: none !important;
padding: 0.25rem 0.5rem;
}

@media (max-width: 991.98px) {
  .navbar-nav .nav-item {
    text-align: left;
    padding-left: 10px;
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  }

  .navbar-nav .nav-link {
    display: block;
    width: 100%;
  }
}